@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 17px;
  }
}

body {
  background: radial-gradient(circle at top left, #0d0d0f, #000);
  color: #f3f4f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: system-ui, sans-serif;
}

section {
  @apply py-20;
}
